// Brand Colors
$primary-color: #542e90;
$secondary-color: #fff200;

// Text Colors
$text-primary: #000000;
$text-secondary: #542e90;

$text-light: #a7a9ac;
$text-gray: #575756;
$text-white: #ffffff;
$text-black: #000000;

// Background Colors
$bg-primary: #542e90;

$bg-secondary: #fff200;
$bg-light: #f5f5f5;

$bg-black: #000000;
$bg-white: #ffffff;

// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1700px;
