@import "../styles/variables";
@import "../styles/mixins";
@import "../styles/layout";
@import "../styles/typography";
// @import "../styles/variants";

.product-page {
  font-family: $font-family-primary;
  &__breadcrumb {
    @extend .container;
    padding: 1rem;
  }
}
.similar-products {
  @extend .container;
  padding-bottom: 2rem;
  &__title {
    font-size: 28px;
    color: $bg-primary;
    font-weight: $font-weight-bold;
  }
  &__heading {
    margin-bottom: 1rem;
  }
  &__subtitle {
    font-size: 22px;
    font-weight: $font-weight-light;
  }
  &__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 39px;
    justify-content: center;
    @include breakpoint-xl {
      flex-wrap: nowrap;
    }
  }
}
